body {
    padding: 0;
    margin: 0;
    background: #42A5F5;
    text-align: center;
    font: 400 1em Sans-Serif;
}

form {
    margin-top: 200px;
}

form div {
    margin-bottom: 20px;
}

form input[type="text"], form input[type="password"], form input[type="email"] {
    border: solid 1px #C0C0C0;
    width: 295px;
    padding: 7px;
    font-size: 13pt;
    border-radius: 3px;
}

input[type="submit"]:active, input[type="button"]:active {
    background: rgb(82,93,145);
    box-shadow: 0 -3px rgb(82,93,145) inset;
}

input[type="submit"], input[type="button"] {
    cursor: pointer;
    width: 312px;
    border: none;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(102,114,179);
    box-shadow: 0 -3px rgb(82,93,145) inset;
    transition: 0.2s;
}

input[type="submit"]:hover, input[type="button"]:hover {
    background: rgb(82,93,145);
}